<div class="header">
  <nav class="nav">
    <div class="nav__icon">
      <a href="#">
        <svg width="32" height="32" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="30" y1="25" x2="70" y2="25" stroke="#b0bcee" stroke-width="4" stroke-linecap="round" />
          <line x1="15" y1="50" x2="85" y2="50" stroke="#6587c6" stroke-width="4" stroke-linecap="round" />
          <line x1="20" y1="75" x2="80" y2="75" stroke="#2D3142" stroke-width="4" stroke-linecap="round" />
        </svg>
      </a>
      <h2>
        Harris Gustafson
      </h2>
    </div>
    <div class="nav__links">
      <a class="navlink" href="#about" routerLinkActive="active">About</a>
      <a class="navlink" href="#projects" routerLinkActive="active">Projects</a>
      <a class="navlink" href="#contact" routerLinkActive="active">Contact</a>
    </div>
  </nav>
</div>