@use '../../styles/variables' as v;

.navlink {
    color: #000;
    background-color: #f0f0f0;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: v.$button-radius;
    font-weight: semi-bold;

    &:hover {
        background-color: v.$color;
        color: #fff;
    }
}

.header {
    background-color: #FFFFFF;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    border-radius: v.$navbar-radius;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    nav {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;

        .navlink {
            text-decoration: none;
        }
    }
}