@use '../../styles/variables' as v;

.navlink {
    color: #000;
    background-color: #f0f0f0;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: v.$button-radius;
    line-height: 1.0rem;
    text-transform: uppercase;
    font-size: 14px;
    &:hover {
        background-color: v.$color;
        color: #fff;
    }
}

.header {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: v.$navbar-radius;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 15px;
    z-index: 1000;
    nav {
        display: flex;
        justify-content: right;
        gap: 15px;
        flex-wrap: wrap;

        .navlink {
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        nav {
            justify-content: center;
        }
    }
}