@use '../../styles/variables' as v;

.footer {
    display: flex;
    background-color: v.$secondary-color;
    padding: 20px;
    font-size: 1.5em;
    box-shadow: 0px -8px 9px rgba(0, 0, 0, 0.2);
    bottom: 0px;
    margin-top: 60px;
}

.footer__about {

    h2 {
        font-weight: 400;
    }

    h5 {
        font-weight: 400;
    }

    p {
        font-size: 1.25rem;
        margin-bottom: 20px;
    }
}

.footer__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;

    a {
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: v.$color;
        }
    }
}