@use "../../styles/variables" as v;

.tech-card {
    display: inline-flex;
    align-items: center;
    background-color: v.$color;
    color: v.$primary-text-color;
    border-radius: 6px;
    padding: 6px 12px;
    margin: 4px 4px 4px 0;
    font-size: 0.85rem;
    box-shadow: 0 4px 4px 2px rgba(0,0,0,0.1);
    border: 1px solid v.$color;
    transition: all 0.2s ease;
  }
  
  .tech-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.12);
  }
  
  .tech-icon {
    margin-right: 8px;
    color: #555;
  }
  
  .tech-name {
    font-weight: 400;
    font-size: medium;
  }