@use "../../styles/variables" as v;

.hero {
    background-color: v.$primary-color;
    padding: 10px;
    margin-top: calc(var(--wt-offset-top-unit, 24px)* 4);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 5px;
    padding-left: 22px;
    padding-right: 22px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
    max-width: 1276px;
}

@media screen and (max-width: 1276px) {
    .hero {
        padding-left: 22px;
        padding-right: 22px;
        max-width: 996px;
    }
}

@media screen and (max-width: 1000px) {
    .hero {
        padding-left: 22px;
        padding-right: 22px;
        max-width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .hero {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 996px;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 20px;
    }
    
}

.hero-content {
    color: white;
    text-align: center;
}