<div class="project-card">
    <div class="project-card__content">
        <div class="project-card__header">
            <h1 class="project-card__title">{{project?.title}}</h1>
        </div>
        <div class="project-card__description">
            <p>{{project?.description}}</p>
        </div>
        <div class="project-card__footer">
            <div class="project-card__tech">
                <div *ngFor="let technology of project?.technologies">
                    <app-technology-card [technology]="technology"></app-technology-card>
                </div>
            </div>
            <a class="project-card__link" [href]="project?.github" target="_blank">View Project</a>

        </div>
    </div>
    <div class="project-card__slideshow">
        <img width="700" [src]="getCurrentImage()" alt="Project Image" />
    </div>
</div>
