@use '../../styles/variables' as v;

.project-card {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: v.$secondary-color;
    transition: box-shadow 0.3s ease;
    
    &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .project-card__link {
        text-decoration: none;
        color: v.$primary-color;
        font-weight: bold;
        transition: color 0.3s ease;

        padding: 0.5rem 1rem;
        border: 2px solid v.$primary-color;
        border-radius: 0.25rem;
        background-color: v.$secondary-color;
        text-align: center;
        margin-top: 15px;

        &:hover {
            color: v.$secondary-color;
            background-color: v.$primary-color;
            border-color: v.$secondary-color;
        }
    }
    
    .project-card__header {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 1rem;
    
        .project-card__title {
            font-size: 2.25rem;
            font-weight: bold;
        }
    }

    .project-card__content {
        max-width: 400px;
    }

    .project-card__slideshow {
        max-width: 1000px;
        margin: 5px;
        border-radius: 5px;
        padding: 5px;
        background-color: rgb(236, 236, 236);

        img {
            max-width: 100%;
            height: auto;
            border-radius: 1%;
        }
    }

    .project-card__tech {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }
    
    .project-card__description {
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: start;
    }
    
    .project-card__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


@media screen and (min-width: 768px) {
    .project-card {
        .project-card__header {
            flex-direction: column;
            align-items: flex-start;
        }
    
        .project-card__footer {
            flex-direction: column;
            align-items: flex-start;

        }
    }
    
}