// Variables
$primary-color: #6587c6;
$secondary-color: #FFFFFF;
$primary-text-color: #FFFFFF;
$secondary-text-color: #000000;
$font-stack: 'Montserrat';
$button-radius: 7.5px;
$navbar-radius: 20px;

$color: #2D3142;
