@use './styles/variables' as v;
@use "sass:color";

// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Global styles
body {
    font-family: v.$font-stack;
    margin: 0;
    padding: 0;
    background-color: v.$primary-color;
    color: #000000;
}

.container {
    @include flex-center;
    flex-direction: column;
    min-height: 100vh;
    background-color: v.$primary-color;
    color: white;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.footer {
    padding: 0px;
    background-color: color.adjust(v.$color, $lightness: -10%);
    text-align: center;
}

// Media queries for smaller screens
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .content {
        padding: 10px;
        max-width: 100%;
        margin: 0 auto;
    }
}