@use './styles/variables' as v;

// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Global styles
body {
    font-family: v.$font-stack;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    @include flex-center;
    flex-direction: column;
    min-height: 100vh;
    background-color: v.$primary-color;
    color: white;
}


.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.footer {
    width: 100%;
    padding: 10px;
    background-color: darken(v.$secondary-color, 10%);
    text-align: center;
}